/*
Name: Jeffrey Vicente
Section:Module 1: HTML, CSS, and Git
Assignment: TML CSS Git Challenge: Code Refactor
Class: M/W/TH 18:30CST

----Description----
Take existing code and refactor it to meet a certain set of standards or implement a new technology. 
In this Challenge, a marketing agency has hired you to refactor an existing site to make it more accessible.
*/

/* Start of body CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* End of body CSS. */

/* Start of header CSS */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* End of header CSS*/


/* Sets the paragraph font size to 16px*/
p {
    font-size: 16px;
}

/* hero compondent attributes*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the attributes for the float left class */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Sets the attributes for the float right class */
.float-right {
    float: right;
    margin-left: 25px;
}



/* Benifits Section */
/* benefits | Element contains the attrubutes for benifits class in index.html file. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* content-attributes | Element contains the attrubutes for benifits class in index.html file. */
.benefit-attributes{
    margin-bottom: 32px;
    color: #ffffff;
}

/* content-attributes h3 | Element contains the attrubutes for the h3 header in the benefits class in  index.html file. */
.benefit-attributes h3{
    margin-bottom: 10px;
    text-align: center;
}

/* content-attributes img | Element contains the attrubutes for images in benefits class in index.html file. */
.benefit-attributes img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* End of Benefits Sections*/


/* Contents Section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* content-attributes | Element contains the attrubutes for content class in index.html file. */
.content-attributes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* content-attributes img | Element contains the attrubutes for images in the content class */
.content-attributes img {
    max-height: 200px;
}

/* content-attributes h3 | Element contains the attrubutes for the h2 headerin the content class in index.html */
.content-attributes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*End of Contents Sections*/

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* End of Footer */

